<div>
  <div class="w-4/5 mx-auto my-9 rounded-lg shadow-lg">
    <div class="p-8 bg-[#a7c2f3] rounded-t-lg text-white flex items-center">
      <div>
        <h4 class="text-[19px] mb-2">
          <span>設定を変更する</span>
        </h4>
        <p class="text-[35px]">「グラフィック設定」や「ボタン配置設置」を始めとした設定に関するコンテンツをピックアップ。<br>時間経過と共に変更する敷居が高くなるので最初にやることをお勧めします</p>
      </div>
      <%= image_tag src="https://placehold.jp/250x140.png", class: "object-contain mr-4" %>
    </div>
    <div class="flex items-center mb-4 p-4 border rounded-b-lg">
      <%= image_tag @game.logo_url, class: "h-24 w-24 object-contain mr-4" %>
      <div>
        <%= content_tag :div, @game.title, class: "font-bold mb-2" %>
        <%= content_tag :div, @game.description, class: "text-sm" %>
      </div>
    </div>
  </div>



  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 m-8">
    <% @videos.each do |video| %>
      <div class="rounded-lg shadow-md p-2 border hover:scale-105 transition duration-300">
        <%= link_to  purpose_path(@game.title, video) do %>
          <div class="flex justify-between items-center">
            <%= image_tag video.thumbnail_url, class: "h-auto w-7/12 rounded-t-lg ml-4" %>
            <% if current_user %>
              <div class="flex flex-col mr-7">
                <div class="mb-2">
                  <% uservideo = Uservideo.find_by(user_id: current_user.id, video_id: video.id) %>
                  <% watched_checked = uservideo&.watched_status == 1 ? true : false %>
                  <%= check_box_tag "watched_status[#{video.id}]", 1, [1, 2].include?(uservideo&.watched_status), disabled: true %>
                  <%= label_tag "watched_status[#{video.id}]", "視聴済み" %>
                </div>
                <div>
                  <% practiced_checked = uservideo&.watched_status == 2 ? true : false %>
                  <%= check_box_tag "watched_status[#{video.id}]", 2, practiced_checked, disabled: true %>
                  <%= label_tag "watched_status[#{video.id}]", "完了済み" %>
                </div>
              </div>  
            <% end %>
          </div>
          <div>
            <p class="text-base sm:text-lg font-semibold mb-2 p-4"><%= video.title %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mb-4 text-center text-[20px]">
    <%= paginate @videos %>
  </div>


</div>