<div class="min-h-screen">
  <div class="w-4/5 mx-auto my-9 rounded-lg shadow-lg">
    <div class="p-8 bg-[#a7c2f3] rounded-t-lg text-white flex items-center">
      <div>
        <h4 class="text-[19px] mb-2">
          <span>設定を変更する</span>
        </h4>
        <p class="sm:text-[20px] md:text-[25px] xl:text-[35px]">「グラフィック設定」や「ボタン配置設置」を始めとした設定に関するコンテンツをピックアップ</p>
      </div>
      <figure class=" pl-4 pr-3 pt-4">
        <%= image_tag "setting.jpg", class: "object-contain mr-7", size: "300x200" %>
        <figcaption>
          <a href="https://jp.freepik.com/free-vector/custom-style-script-website-optimization-coding-software-development-female-programmer-cartoon-character-working-adding-javascript-css-code_11669143.htm#from_view=detail_author">著作者：vectorjuice</a>／出典：Freepik
        </figcaption>
      </figure>
    </div>
    <div class="flex flex-col items-center mb-4 p-4 border rounded-b-lg sm:flex-row">
      <%= image_tag @game.logo_url, class: "h-24 w-24 object-contain sm:mr-2" %>
      <div>
        <%= content_tag :div, @game.title, class: "text-center my-2 font-bold sm:text-left" %>
        <%= content_tag :div, @game.description, class: "text-sm" %>
      </div>
    </div>
  </div>



  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 m-8">
    <% @videos.each do |video| %>
      <div class="rounded-lg shadow-md p-2 border hover:scale-105 transition duration-300">
        <%= link_to  purpose_path(@game.title, video) do %>
          <div>
            <div class="video-container">
              <%= video.embed_code.html_safe %>
            </div>
            <% if current_user %>
              <div class="flex justify-end">
                <div class="mr-4">
                  <% uservideo = Uservideo.find_by(user_id: current_user.id, video_id: video.id) %>
                  <% watched_checked = uservideo&.watched_status == 1 ? true : false %>
                  <%= check_box_tag "watched_status[#{video.id}]", 1, [1, 2].include?(uservideo&.watched_status), disabled: true %>
                  <%= label_tag "watched_status[#{video.id}]", "視聴" %>
                </div>
                <div>
                  <% practiced_checked = uservideo&.watched_status == 2 ? true : false %>
                  <%= check_box_tag "watched_status[#{video.id}]", 2, practiced_checked, disabled: true %>
                  <%= label_tag "watched_status[#{video.id}]", "完了" %>
                </div>
              </div>  
            <% end %>
          </div>
          <div>
            <p class="text-base sm:text-lg font-semibold mb-2 p-4"><%= video.title %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mb-4 text-center text-[20px]">
    <%= paginate @videos %>
  </div>


</div>