<h2><%= @video.title %></h2>

<%= @video.embed_code.html_safe %>

<div>
  <%= link_to 'ホーム', home_path(@uservideo), remote: true, class: 'text-blue-500 hover:underline' %>
  <%= link_to 'メモ', memo_path, remote: true, class: 'text-blue-500 hover:underline'  %>
</div>
<turbo-frame id="section">
  <%= render 'shared/watched_status' %>
</turbo-frame>