<%= turbo_frame_tag game do %>
  <div class="flex items-center">
    <div class="mr-4"><%= image_tag game.logo_url, class: "h-24 w-24 object-contain mr-4" %></div>
    <div class="mr-4"><%= content_tag :div, game.title, class: "font-bold mb-2" %></div>
    <div class="ml-auto">
      <%= link_to '詳細', admin_game_path(game), data: { turbo: "false" } %> |
      <%= link_to '編集', edit_admin_game_path(game), data: { turbo: "false" } %> |
      <%= link_to '削除', admin_game_path(game), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
    </div>
  </div>
<% end %>