<div id="memo-section" class="text-center">
  <%= form_with(model: @memo, url: memos_path, method: :post, local: false) do |form| %>
    <div class="mb-4">
      <% if @memo.errors.any? %>
        <ul>
          <% @memo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div>
      <div class="flex flex-col items-center w-6/12 mx-auto">
        <%= form.text_area :content, value: @memo.content, class: 'w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500' %>
        <div class="w-full flex justify-end">
          <%= form.submit 'メモ', class: 'mt-1 px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600 cursor-pointer' %>
        </div>
      </div>
      <%= form.hidden_field :user_id, value: @uservideo.user_id %>
      <%= form.hidden_field :video_id, value: @uservideo.video_id %>
    </div>
  <% end %>
  <div>
    <div class="flex flex-row items-center w-6/12 mx-auto mt-4 md:mt-0">
      <div>
        <%= form_tag memo_section_path(@uservideo), method: :get, class: "" do %>
          <%= select_tag :sort, options_for_select({ "更新が新しい順" => "newest", "更新が古い順" => "oldest" }, session[:selected_sort]), prompt: '並び替え' %>
          <div class="flex justify-end mt-1 sm:inline-block">
            <%= submit_tag 'フィルタ', class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer" %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <ul>
        <% @memos.each do |memo| %>
          <turbo-frame id="memo_update_<%= memo.id %>">
            <%= render 'shared/memo_index', memo: memo %>
          </turbo-frame>
        <% end %>
      </ul>
    </div>
    <%= paginate @memos %>
  </div>
</div>
<script>
  var homeLink = document.getElementById('home-link');
  var memoLink = document.getElementById('memo-link');
  var playlistLink = document.getElementById('playlist-link');
  var homeSection = document.getElementById('home-section');
  var memoSection = document.getElementById('memo-section');
  var playlistSection = document.getElementById('playlist-section');

  if (homeSection) {
    homeLink.classList.add('underline');
    memoLink.classList.remove('underline');
    playlistLink.classList.remove('underline');
  } else if (memoSection) {
    memoLink.classList.add('underline');
    homeLink.classList.remove('underline');
    playlistLink.classList.remove('underline');
  } else if (playlistSection) {
    playlistLink.classList.add('underline');
    homeLink.classList.remove('underline');
    memoLink.classList.remove('underline');
  }
</script>
