<div class="w-6/12 mx-auto my-5">
  <li>
    <div class="flex justify-between">
      <div>
        <%= time_ago_in_words(memo.updated_at) %>前
      </div>
      <div>
        <%= link_to edit_memo_path(memo) do %>
          <i class="fas fa-pen"></i>
        <% end %>
        <%= link_to memo_path(memo), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "mx-4" do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
    <div class="border rounded p-4 text-left bg-[#f7f9fa]">
      <%= memo.content %>
    </div>
    <turbo-frame id="memo_edit_<%= memo.id %>">
    </turbo-frame>
  </li>
</div>
