<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity: 'sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin: 'anonymous', referrerpolicy: 'no-referrer' %>
  </head>

  <body>
    <%= render 'shared/flash_message' %>
    <div class="relative z-10 md:hidden bg-[#343540] flex items-center px-4 py-2">
      <button id="toggleSidebar" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
        <i class="fa-solid fa-bars text-2xl border-2 p-2 rounded-lg mx-2 my-1" style="color: #ffffff;"></i>
      </button>
      <p class="text-white ml-5">Responsive Sidebar with Vue</p>
    </div>    
    <div
    class="flex min-h-[calc(100vh)] bg-gray-50 dark:bg-gray-900"
    :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
    <!-- Desktop sidebar -->
      <%= render 'shared/sidebar' %>
      <%= yield %>
    </div>
  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleButton = document.getElementById("toggleSidebar");
    const sideMenu = document.querySelector(".shared-sidebar");
  
    function adjustSidebarPosition() {
      if (window.innerWidth < 768) {
        sideMenu.classList.toggle("absolute", !sideMenu.classList.contains("hidden"));
      } else {
        sideMenu.classList.remove("absolute");
      }
    }
  
    toggleButton.addEventListener("click", function() {
      sideMenu.classList.toggle("hidden");
      adjustSidebarPosition();
    });
  
    window.addEventListener("resize", function() {
      adjustSidebarPosition();
    });
  
    // ページ読み込み時にもポジションを調整
    adjustSidebarPosition();
  });
</script>