<div class="w-3/6 mx-auto mb-8 text-3xl">
  <div class="text-center my-3">
    <h1 class="text-3xl">動画詳細</h1>
  </div>
  <div class="border-4 text-center">
    <div class="border-b-2">
      <p>サムネイル</p>
    </div>
    <div class="flex justify-center py-6">
      <%= image_tag @video.thumbnail_url, class: "object-contain" %>
    </div>
    <div class="border-y-2 mt-7">
      タイトル
    </div>
    <div class="pt-3">
      <%= content_tag :div, @video.title %>
    </div>
    <div class="border-y-2 mt-7">
      <p>動画ID</p>
    </div>
    <div class="pt-3">
      <%= content_tag :div, @video.id%>
    </div>
    <div class="border-y-2 mt-7">
      <p>動画埋め込みコード</p>
    </div>
    <div class="pt-3">
      <%= content_tag :div, @video.embed_code %>
    </div>
    <div class="border-y-2 mt-7">
      <p>動画情報作成日時</p>
    </div>
    <div class="py-3">
      <%= content_tag :div, @video.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
    </div>
  </div>
</div>