<div class="text-center bg-[#161617] text-[#cecece] py-10 h-screen overflow-hidden">
  <div class="w-96 border text-center mx-auto bg-black rounded-md flex-grow">
    <h2 class="text-3xl my-6">管理者ログイン</h2>
    <div>
      <%= form_with url: admin_login_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="text-left flex flex-col mx-6">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, placeholder: '***@example.com', class: 'text-black block w-full rounded-lg' %>
        </div>
        <div class="text-left flex flex-col mx-6 my-6">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, placeholder: 'パスワード', class: 'text-black block w-full rounded-lg' %>
        </div>
        <div>
          <%= f.submit 'ログイン', class: 'mb-6 px-6 py-2 bg-purple-400 text-white font-bold rounded-lg hover:bg-purple-600 transiton-all duration-300 cursor-pointer' %>
        </div>
      <% end %>
    </div>
  </div>
</div>