<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity: 'sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin: 'anonymous', referrerpolicy: 'no-referrer' %>
  </head>

  <body>
    <header class="py-6 bg-black text-white">
      <div class="container mx-auto flex justify-between items-center px-8 md:px-1 lg:px-7 w-full">
        <%= link_to 'GunnerGuides', '#', class: "text-3xl font-bold" %>
        <div class="space-x-10 hidden md:flex items-center">
          <%= link_to 'ゲーム一覧', '#', class: "hover:text-purple-500 transiton-all duration-300" %>
          <%= link_to 'ログイン', '#', class: "hover:text-purple-500 transiton-all duration-300" %>
          <%= link_to '新規ユーザー登録(無料)', '#', class: "px-6 py-2 bg-purple-400 text-white font-bold rounded-lg hover:bg-purple-600 transiton-all duration-300" %>
        </div>
        <div class="md:hidden">
          <i class="fa-solid fa-bars text-3xl"></i>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
